<div class=" d-flex mt-5 pt-2 justify-content-center ">
    <div class="linked p-3 shadow-lg">
        <a routerLink="getOrderForOwner"> كل الاوردرات </a>
        <a routerLink="getSendingManDop" class=" ms-2"> المناديب المرسله </a>
        <a routerLink="getOrderForOwnerBuy">التحصيل من المناديب</a>
        <a routerLink="doneMony"> تقارير</a>


    </div>


</div>





<router-outlet></router-outlet>



<div class=" container mt-3 mb-1 body shadow-lg rounded-3">
    <div class="loop-wrapper">
        <div class="mountain"></div>
        <div class="hill"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="rock"></div>
        <div class="truck"></div>
        <div class="wheels"></div>
    </div>
</div>